.container{
    max-width: 1280px;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

body{
    background-color: $cor-primaria;
}

.logo{
    max-width: 100px; 
}

ul, ol{
    list-style: none;
}

header{
    color: $azul-fallout;
}


